<div class="h-screen w-full bg-lime-100"
>
      <div class="h-full  overflow-hidden shadow-lg p-5 bg-gray-50 rounded-md gap-2">
          <div class="border-b pb-6 rounded-md py-3"
          style="background-image: url('/assets/images/captainBg.gif');"
          >
              <div class="text-center  my-4 flex flex-col items-center">
                <div class="bg-gray-50 w-64 rounded-full p-2">
                  <img class="rounded-full h-28 w-h-28  mx-auto my-4"
                      src="/assets/images/hotelPofile.jpg" alt="" >
                  <div class="py-2">
                      <h3 class="!text-xl !font-bold text-gray-600 px-2">{{captainDetails?.name}}</h3>
                      <div class="inline-flex text-gray-700  items-center">
                          <img src="./assets/icons/location.png" alt="location"
                           class="h-5 w-5 !text-gray-300 mr-1"
                          >
                          {{captainDetails?.location}}
                      </div>
                  </div>
                </div>
              </div>
              <div class="flex gap-2 px-2">
                  <button
                  (click)="navigateToProducts()"
                      class="flex-1 rounded-full bg-lime-400  text-white antialiased font-bold hover:bg-blue-800  px-4 py-2">
                      Products
                  </button>
                  <button
                  (click)="navigateToCategory()"
                      class="flex-1 rounded-full shadow-2xl border border-gray-200 bg-white font-semibold text-gray-500  px-4 py-2">
                      Categories
                  </button>
              </div>
          </div>
          <div class="grid grid-cols-3 pt-5 gap-1">
            <div class="max-w-full  flex justify-center items-center  px-3  text-center flex-0 lg:w-4/12">
              <div class="border px-5 bg-white border-dashed rounded-lg border-gray-300">
                <p class="relative pt-2 mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Products</p>
                <p class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">{{captainDetails?.total_product}} </span>
                  <span id="state2" countTo="2400"></span>
                </p>
              </div>
            </div>
            <div class="max-w-full  flex justify-center items-center px-3  text-center flex-0 lg:w-4/12">
              <div class="border px-5 bg-white border-dashed rounded-lg border-gray-300">
                <p class="relative pt-2 mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Categories</p>
                <p class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">{{captainDetails?.total_category}} </span>
                  <span id="state2" countTo="2400"></span>
                </p>
              </div>
            </div>
            <div class="max-w-full  flex justify-center items-center px-3  text-center flex-0 lg:w-4/12">
              <div class="border px-5 bg-white border-dashed rounded-lg border-gray-300">
                <p class="relative pt-2 mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Employees</p>
                <p class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">10 </span>
                  <span id="state2" countTo="2400"></span>
                </p>
              </div>
            </div>
          </div>

          <div class="flex flex-col w-full  justify-center items-center pt-5 shadow-2xl shadow-gray-100 ">
            <div class="bg-gray-2 00 flex flex-col justify-center items-center h-60 rounded-md w-56 border border-gray-200">
              <img [src]="captainDetails?.qr_code" alt="qr" class="h-48 w-56 p-3 pb-1">
              <button (click)="getQRBlob()" class="bg-lime-400 rounded-b-md text-md text-white font-bold px-20 py-3">download</button>
            </div>
          </div>
         </div>
</div>
