<div class="h-screen bg-gray-200">
      <div class="max-w-sm h-full mx-auto bg-white  rounded-lg overflow-hidden shadow-lg">
          <div class="border-b px-4 pb-6"
          style="background-image: url('/assets/images/captainBg.gif');"
          >
              <div class="text-center  my-4 flex flex-col items-center ">
                <div class="bg-gray-50 w-72 rounded-full p-1">
                  <img class="rounded-full h-44 w-44  mx-auto my-4"
                      src="/assets/images/hotelPofile.jpg" alt="" >
                  <div class="py-2">
                      <h3 class="!text-xl !font-bold text-gray-600 px-2">K R Backery</h3>
                      <div class="inline-flex text-gray-700  items-center">
                          <img src="./assets/icons/location.png" alt="location"
                           class="h-5 w-5 text-gray-400 mr-1"
                          >
                          Manjeri
                      </div>
                  </div>
                </div>
              </div>
              <div class="flex gap-2 px-2">
                  <button
                  (click)="navigateToProducts()"
                      class="flex-1 rounded-full bg-lime-400  text-white antialiased font-bold hover:bg-blue-800  px-4 py-2">
                      Products
                  </button>
                  <button
                      class="flex-1 rounded-full border-2 border-gray-400 font-semibold text-gray-500  px-4 py-2">
                      Categories
                  </button>
              </div>
          </div>
          <div class="grid grid-cols-3 pt-5 gap-1">
            <div class="max-w-full px-3 text-center flex-0 lg:w-3/12">
              <div class="py-4 border border-dashed rounded-lg border-gray-300">
                <h6 class="relative mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Products</h6>
                <h4 class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">100 </span>
                  <span id="state2" countTo="2400"></span>
                </h4>
              </div>
            </div>
            <div class="max-w-full px-3 text-center flex-0 lg:w-3/12">
              <div class="py-4 border border-dashed rounded-lg border-gray-300">
                <h6 class="relative mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Categories</h6>
                <h4 class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">50 </span>
                  <span id="state2" countTo="2400"></span>
                </h4>
              </div>
            </div>
            <div class="max-w-full px-3 text-center flex-0 lg:w-3/12">
              <div class="py-4 border border-dashed rounded-lg border-gray-300">
                <h6 class="relative mb-0 text-transparent z-1 bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500 !font-semibold !text-xs">Employees</h6>
                <h4 class="font-bold dark:text-white">
                  <span class="text-3.5 text-gray-400 font-extrabold">10 </span>
                  <span id="state2" countTo="2400"></span>
                </h4>
              </div>
            </div>
          </div>
         </div>
</div>
