
<div class=" pb-48">
  <div class="flex pl-3 bg-gray-50 w-full h-12 border">
    <div class="flex items-center justify-center" (click)="navigateToHome()">
      <img src="/assets/icons/back.png" alt="" class="w-6 h-6 cursor-pointer" >
    </div>
    <p class="p-2 text-gray-500 font-bold text-xl">Add Advertisement Images</p>
  </div>
  <div  class="flex flex-col justify-center items-center px-3">
    @for(count of counter(advCount); track count; let i = $index){
      <div class=" flex items-center justify-center w-full gap-3 p-3">
        <label [for]="'dropzone-file-' + i" class="relative flex flex-col items-center justify-center w-full h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-300 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        [ngStyle]="{'background-image':imageUrls[i] ? 'url(' + imageUrls[i] + ')':  updatedFiles[i] ? 'url(' + updatedFiles[i].image + ')' : 'none',
                   'background-size': 'cover',
                   'background-position': 'center',
                   'opacity': 0.7
                 }">
            <div class="flex flex-col items-center justify-center pt-5 pb-6 py-3">
                <svg class="w-6 h-6 mb-4 text-lime-500 pt-2 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
  
                <p class="mb-2 text-sm text-white dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-white dark:text-gray-400"> PNG,or JPG</p>
            </div>
            <input [id]="'dropzone-file-' + i"  type="file" (change)="onFileSelected($event,i)" class="hidden" />
        </label>
  
        <div class="flex flex-col gap-2 font-medium">
        @if(files[i]?.image){
            <button class=" bg-orange-500 text-white p-2 rounded-md" (click)="clearFile(i)">Clear</button>
          
          @if(updatedFiles[i]?.image){
            <button class=" bg-orange-500 text-white p-2 rounded-md" (click)="updateFile(i)">Update</button>
          }@else{
            <button class=" bg-orange-500 text-white p-2 rounded-md" (click)="submitFile(i)">Submit</button>
          }
        }
        </div>
    </div>
  }
    

<!-- <button class="px-32 mt-3 bg-orange-500 text-white py-3 text-lg rounded-lg font-semibold">Submit</button> -->
</div>
</div>
