
<div class=" pb-48">
  <p  class="font-semibold text-gray-500 text-lg border-b border-gray-300 p-3">Add Advertisement Images</p>
  <form action="" class="flex flex-col justify-center items-center px-3">
@for(item of advCount; track item){
  <div class="flex items-center justify-center w-full gap-3 p-3">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6 py-3">
            <svg class="w-6 h-6 mb-4 text-lime-500 pt-2 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400"> PNG,or JPG</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
    </label>
  </div> 
}
@if(advCount.length <=4){
  <div  class="flex justify-center   items-center h-14 border-2 border-lime-400 rounded-lg"
  (click)="newAddButton()"
  >
    <img src="/assets/icons/plus.png" alt="" class="px-28">
  </div>
}@else{
  <div class="text-red-500 text-sm text-center animate-pulse">Image limit exceeded</div>
}
<button class="px-32 mt-3 bg-lime-500 text-white py-3 text-lg rounded-lg font-semibold">Submit</button>
</form>
</div>
