<div class="w-full">
 <div class="w-full">
   <div class="w-full flex flex-row overflow-y-scroll bg-gray-100 p-3 shadow-md">
    <span class="text-white bg-green-400 rounded-md px-5 py-1 text-xl font-bold">All</span>
  @for(item of categories; track item){
      <span class="text-gray-500 rounded-md px-5 py-1 text-lg font-bold"> {{item}}</span>
    }
  </div>
  <div class="max-h-[68vh] overflow-y-scroll">
    @for(item of categories; track item){
      <div class="flex justify-between items-center h-28 border-b border-gray-200 ">
        <span class="flex w-5/6 flex-row items-center p-3">
          <img src="/assets/images/juice image.jpg" alt="Product images" class="rounded-full max-h-[90px]">
          <p class="text-center text-lg font-semibold text-gray-500 ps-2">Apple Juice</p>
        </span>
        <div class="flex flex-1 justify-center">
          <span class="flex flex-row items-center">
            <img src="/assets/icons/rupee.png" alt="rupee" class="h-4 w-4">
            <p class="text-lg font-semibold text-gray-500">500</p>
          </span>
        </div>
        
      </div>
    }
  </div>
 </div>
</div>