<div class="w-full">
  <div class="w-full">
    <div class="max-w-md mx-auto px-3 pt-3">   
      <label for="arch" class="mb-2 text-sm font-medium text-gray-600 sr-only">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="" id="search" class="block w-full p-4 ps-10 text-sm text-gray-700 border border-orange-50 rounded-lg shadow shadow-orange-100 bg-gray-50 !outline-none" placeholder="Search categories,food..." required />
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-orange-500 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
      </div>
  </div>
    <div
    class="gap-6 w-full h-full flex flex-row  overflow-x-scroll p-3 bg-white"
  >
  <div
  class="rounded-md bg-gradient-to-b from-white to-orange-400 flex flex-col justify-center items-center min-w-24 min-h-16 shadow-md shadow-orange-400"
  (click)="filterProduct(0)"
  >
   <img src="/assets/images/all.gif" alt="categories" class="min-w-24 min-h-16 rounded-md rounded-br-full bg-white">
  <p class="text-white font-medium pt-1 text-xs">ALL</p>

  </div>
    @for(item of categories; track item){
    <div
      class="rounded-md bg-gradient-to-b from-white to-orange-400  flex flex-col justify-center items-center min-w-24 min-h-16 shadow-md shadow-orange-400"
      (click)="filterProduct(item.id)">
       <img src="{{item.image}}" alt="categories" class="min-w-24 min-h-16 rounded-md rounded-br-full bg-white">
       <p class="text-white text-center font-medium pt-1 w-full whitespace-nowrap overflow-hidden text-ellipsis text-xs">{{ item.name.toUpperCase() }}</p>
      </div>
    }
  </div>
  
    @if(filteredProduct.length > 0){
    <div class="max-h-[67vh] overflow-y-scroll pe-1 px-1 bg-white bCorder rounded-md pt-3">
      @for(item of filteredProduct; track item){
      <div
        class="flex justify-between items-center h-32 order-b border-r rounded-b-2xl py-2 shadow-sm shadow-orange-100 border-gray-200"
        (click)="openDetailedView()"
        >
        <span class="flex w-5/6 flex-row items-center p-3">
          @if(item.image){
            <img
            [src]="item.image"
            alt="Product images"
            class="rounded-3xl h-24 w-24 border border-gray-200"
          />
          }@else{
            <img
              src="/assets/images/noProductImage .jpg"
              alt="Product images"
              class="rounded-3xl h-24 w-24 border border-gray-100"
            />
          }
          <p class="text-base font-medium text-gray-500 ps-3 pt-3">
            {{ item.name }}
          </p>
        </span>
        <div class="flex flex-1 justify-center pe-2">
          <span class="flex flex-row items-center">
            <img src="/assets/icons/rupee.png" alt="rupee" class="h-4 w-4" />
            <p class="text-md font-semibold text-gray-500 pt-3">
              {{ item.price }}
            </p>
          </span>
        </div>
      </div>
      }
    </div>
    }@else{
    <div class="h-96 w-full flex flex-col justify-center items-center  rounded-full">
      <img src="/assets/images/empty.gif" alt="" class="h-48 w-56">
      <p class="text-center text-gray-200 font-semibold text-lg">No Items !!!</p>
    </div>
    }
  </div>
</div>
