

<div class="border border-gray-200 rounded-t-2xl shadow-orange-500 bg-gray-100">
      <img class="rounded-t-2xl" src="/assets/images/cake.jpg" alt="food image"/>
  <div class="p-6">
      <span class="mb-2 flex justify-between font-medium tracking-tight text-gray-500 ">
        <p class="!text-xl">Italian Cheese Cake</p>
        <span class="text-lg flex flex-row">
          <img src="/assets/icons/rupee.png " alt="rupee" class="h-6 w-5 pt-1"><p class="text-center">100</p></span>
      </span>
      <div class="flex pb-3 gap-2">
        <span class="flex bg-orange-100 shadow-md shadow-orange-400  border border-orange-300 justify-center items-center rounded-xl font-medium">
          <span class="bg-orange-500  text-white px-3 py-2 rounded-xl">Full</span>
          <span class=" text-gray-500 px-2 py-2">300</span>
        </span>
        <span class="flex bg-orange-100 shadow-md shadow-orange-400  border border-orange-300 justify-center items-center rounded-xl font-medium">
          <span class="bg-orange-500  text-white px-3 py-2 rounded-xl">Half</span>
          <span class=" text-gray-500 px-2 py-2">200</span>
        </span>
        <span class="flex bg-orange-100 shadow-md shadow-orange-400  border border-orange-300 justify-center items-center rounded-xl font-medium">
          <span class="bg-orange-500  text-white px-3 py-2 rounded-xl">Quater</span>
          <span class=" text-gray-500 px-2 py-2">100</span>
        </span>
      </div>
      <p class="mb-3 font-normal text-gray-400 pt-3">Italian cream cheese, also known as stracchino, is a soft, creamy cheese that hails from the Lombardy region of Italy.</p>
  </div>
</div>
