

<div class="border border-gray-200 rounded-t-2xl shadow-orange-500 bg-gray-100">
  <div class="flex justify-center items-center">
    @if(!product.image){
      <img class="rounded-t-2xl" src="/assets/images/noProductImage .jpg" alt="food image"/>
    }@else{
      <img class="rounded-t-2xl w-full" src="{{product.image}}" alt="food image"/>
    }
  </div>
  <div class="p-6">
    <span class="mb-2 flex justify-between font-medium tracking-tight text-gray-500 ">
      <p class="!text-xl">{{product.name.toUpperCase()}}</p>
  
      <span class="text-lg flex flex-row">
        <img src="/assets/icons/rupee.png " alt="rupee" class="h-6 w-5 pt-1"><p class="text-center">{{product.price}}</p></span>
      </span>
      @if(!product.stock_available){
        <img src="/assets/icons/sold out.png" alt="soldOut" class="h-14">
      }
      @if(product.product_portion && product.stock_available){
      <div class="flex justify-center pb-3 gap-2">
        @for (item of product.product_portion; track $index) { 
          <span class="flex bg-orange-100 shadow-md text-xs shadow-orange-400  border border-orange-300 justify-center items-center rounded-md font-medium">
            <span class="bg-orange-500  text-white px-3 py-2 rounded-md !font-normal">{{item.name}}</span>
            <span class=" text-gray-500 px-2 py-2">{{item.price}}</span>
          </span>
        }
        </div>
    }
      @if (product.description) {
        <p class="mb-3 font-normal text-gray-400 pt-3">{{product.description}}.</p>
      }
  </div>
</div>
