<div id="productModal" class="modal">
    <div class="modal-content">
        <div class="flex justify-between items-center p-2 border border-b-gray-500">
            <p class="text-center !mb-0">Product Details</p>
            <span class="close text-xl mr-2 cursor-pointer" (click)="close()">&times;</span>
        </div>
      <form id="productForm">
        <div class="p-3 flex flex-col gap-5 w-80">
            
            <div class="flex justify-between ">
    
                <label for="productName">Product Name</label><br>
                <input type="text" class="border border-black" id="productName" name="productName">
            </div>
           
            <div class="flex justify-between ">
                <label for="productPrice">Product Price</label><br>
                <input type="number" class="border border-black" id="productPrice" name="productPrice" step="0.01">
            </div>
            <div class="flex justify-between  ">
                <label for="productImage">Product Image</label>
                <div class="border border-black w-[148px] flex ">
                    <input type="file" id="productImage" name="productImage" class="hidden" accept="image/*">
                    <div (click)="chooseProductImage()" class="bg-gray-300 px-2 ml-auto">Choose</div>
                </div>
                
            </div>
            
            <div class="flex gap-1 ">
                <input type="checkbox" class="border border-black" id="productPrice" name="productPrice" step="0.01" checked><br>
                <label for="productPrice">In stock</label><br>
            </div>
            
            <div class="flex justify-center items-center"> 

                <button class=" bg-lime-500  py-2 px-5">Add Product</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  
