<mat-drawer-container class="example-container" hasBackdrop="false" >

    <div class="h-screen">
      <!-- products Heading -->
      <div class="fixed bg-white w-full h-12 border border-y-gray-300">
        <p class="p-2 pl-5 text-gray-500 font-bold text-lg">Products</p>
      </div>
      <!-- Products List -->
      <div class="mb-32 pt-12">
        @for(item of categories; track item){
        <div class=" grid grid-cols-5 gap-2 h-28 p-2 border border-b-gray-300">
          <div class="h-full w-full col-span-3 grid grid-cols-3">
             
              <div class="flex items-center justify-center ps-2">
                <div class="
                bg-white w-20 h-20 rounded-full flex justify-center items-center">
                  @if(item.image){
                    <img [src]="item.image" alt="Product Image" height="100" width="100" class="rounded-full">
                  }@else{
                    <img src="/assets/images/juice image.jpg" alt="Product Image" class="rounded-full">
                  }
                </div>
              </div>
              <div class="col-span-2 text-gray-600 pl-3 flex items-center justify-start" >
                <p class="!mb-0 text-gray-500 text-lg font-medium">{{item.name}}</p>
              </div>
            </div>
            <div class="h-full w-full col-span-2 flex gap-3 justify-center items-center">
            <!-- <p class="font-semibold text-gray-500 !mb-0 text-md">${{item.price}}</p> -->
            <div class="bg-blue-50 h-10 w-10 rounded-full font-semibold flex justify-center items-center">
              <img src="/assets/icons/pencil.png" alt="Edit" class="h-4 w-4" (click)="edit(item.id)">
            </div>
            <div class="bg-red-50 h-10 w-10 rounded-full flex justify-center items-center">
              <img src="/assets/icons/delete.png" alt="Delete" class="h-4 w-4" (click)="deleteProduct(item.id)">
      
            </div>
          </div>
        </div>
        }
      </div>
      
      <div class="fixed bottom-5 left-1/2 transform -translate-x-1/2 mb-8 w-60">
        <button (click)="add()" class="bg-lime-500 text-white px-16 py-3 rounded-lg font-semibold">Add New Item</button>
      </div>
      
      @if(addNewCategory){
        <mat-drawer #drawer mode="over" ><app-category-modal (closeEvent)="add('close')"></app-category-modal></mat-drawer>
      }
      
      @if(selectedCategoryId){
        <mat-drawer #editdrawer mode="over" ><app-category-modal  [categoryId]="selectedCategoryId" type="edit" (closeEvent)="edit()"></app-category-modal></mat-drawer>
      }
    
    
    </div>  
    </mat-drawer-container>
    